html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  padding-top: 50px;
}

#__next {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*BELOW THIS ARE CSS STYLES FOR REACT PAGINATION
/ THERE IS NO EASY WAY TO MAKE IT 
/ WORK WITH STYLED-COMPONENTS
*/
/*
CHECK COLORS FROM styles/theme.ts TO APPLY STYLINGS.
*/
.react-pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  width: 80%;
  margin: auto;
  background-color: #002233; /*bgColorDark*/
  border-radius: 7px;
  -webkit-box-shadow: 1px 25px 42px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 25px 42px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 25px 42px -3px rgba(0, 0, 0, 0.75);
}

.react-pagination-break-me {
  list-style-type: none;
  cursor: pointer;
  color: #faa41a; /*highlightTextColor*/
}
.react-pagination-page {
  list-style-type: none;
  cursor: pointer;
  color: #ffffff; /*mainTextColor*/
}
.react-pagination-active {
  list-style-type: none;
  cursor: pointer;
  color: #faa41a; /*highlightTextColor*/
}
.react-pagination-active:focus {
  color: black;
  outline: none;
}
.react-pagination-page:focus {
  outline: none;
}

.react-pagination-previous,
.react-pagination-next {
  list-style-type: none;
  cursor: pointer;
  color: #faa41a; /*highlightTextColor*/
  font-weight: bold;
  font-size: 20px;
}
